.profile {
  background-color: #e5e5e5;
  padding: 50px 0;
  .cont {
    display: none;
    transition: 0.3s;
  }
  .cont.active {
    display: block;
  }
  .sec {
    padding: 30px;
    margin-bottom: 50px;
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 25px;
      h2 {
        font-size: 28px;
        color: #0a093d;
        text-transform: capitalize;
      }
    }
    ul.content li {
      max-width: 800px;
      padding-bottom: 20px;
      border-bottom: 1.5px solid #d8d8d8;
      margin-bottom: 20px;
      .period {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3 {
          font-size: 20px;
          color: #0a093d;
        }
        .control {
          span:first-child {
            color: #217bf4;
            margin-right: 8px;
            cursor: pointer;
          }
          span:last-child {
            color: #b33a3a;
            cursor: pointer;
          }
        }
      }
      h4 {
        font-size: 16px;
        font-weight: 500;
        color: #656464;
      }
      p {
        margin-top: 5px;
        color: #656464;
      }
    }
    ul.list {
      max-width: 300px;
      li {
        font-weight: 500;
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        justify-content: space-between;
        a {
          color: #000;
          position: relative;
          &::before {
            content: "";
            width: 100%;
            height: 1.5px;
            background-color: #000;
            position: absolute;
            left: 0;
            bottom: -2px;
            transition: 0.3s;
            display: none;
          }
          &:hover::before {
            display: inline;
          }
        }
        .edit {
          color: #217bf4;
          cursor: pointer;
        }
      }
    }
    textarea {
      width: 500px;
      max-width: 90%;
      font-family: inherit;
      margin-bottom: 0;
    }
  }
  .head {
    display: flex;
    gap: 50px;
    align-items: center;
    border-radius: 8px;
    background-color: #fff;
    .image {
      position: relative;
      img {
        width: 400px;
        border-radius: 8px;
        height: 400px;
        max-width: 100%;
      }
      span {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: none;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: #217bf4;
        position: absolute;
        left: 10px;
        bottom: 10px;
      }
      &:hover span {
        display: flex;
        cursor: pointer;
      }
    }
    .text {
      display: flex;
      flex-direction: column;
      h2 {
        font-size: 32px;
        font-weight: 600;
        color: #0a093d;
      }
      h3 {
        font-size: 16px;
        font-weight: 600;
        color: #606060;
      }
      .btns {
        margin-top: 20px;
        button {
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }
  .postedJobs {
    padding: 30px;
    padding-top: 0;
    .job {
      max-width: 800px;
      padding-bottom: 20px;
      border-bottom: 1.5px solid #d8d8d8;
      margin-bottom: 20px;
      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .icons {
          span {
            cursor: pointer;
            &:first-child {
              color: #217bf4;
              margin-right: 8px;
            }
            &:last-child {
              color: #b33a3a;
            }
          }
        }
        h3 {
          color: #0a093d;
          font-size: 28px;
        }
      }
      .features {
        margin: 5px 0 15px;
        display: flex;
        gap: 20px;
        span {
          background-color: #e5e5e5;
          color: #0a093d;
          padding: 5px 15px;
          border-radius: 8px;
          font-size: 14px;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        .label {
          font-size: 16px;
          margin-bottom: 15px;
        }
        .input {
          max-width: 200px;
        }
        .holder {
          margin-bottom: 20px;
          > div {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 10px;
            label {
              font-weight: 500;
              span {
                font-size: 14px;
                font-weight: 400;
                color: #727272;
              }
            }
          }
          &:first-of-type,
          &:last-of-type {
            > div {
              align-items: baseline;
            }
          }
        }
        .btn {
         align-self: flex-end;
        }
      }
    }
  }
}
.prContent {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 30px;
  .ctrl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    h2 {
      font-size: 32px;
      color: #217bf4;
      text-transform: capitalize;
    }
    span {
      font-size: 25px;
      color: #0a093d;
      cursor: pointer;
      transition: 0.3s;
      &.active {
        transform: rotate(180deg);
      }
    }
  }
}
@media (max-width: 767px) {
  .profile {
    .head {
      flex-direction: column;
      gap: 20px;
      text-align: center;
    }
  }
}
